a {
  text-decoration: none;

}
.App {
  text-align: center;
  font-size: 13px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
  background-color: rgb(255, 255, 255);
}
.header{
  font-size: 25px;
  text-align: center;
  color:rgb(2, 17, 18);
  height: 60px;
  padding: 3px;
  background-color: rgb(69, 90, 174);

}
.checkbox{
  position: absolute;
  float: left;
  margin-left: 6%;
  font-size: 20px;
  margin-top: 30px;
}
.hydranet{
  font-size: 27px;
  position: relative;
  float: left;
  color: white;
  margin-left: 10%;
}
.hydranet1{
  margin-top: 10px;
}
.p-4{
  margin-left: 10%;
  margin-top: 15px;
  margin-right: 10%;
}
.hdxlogo{
  position: relative;
  float: left;
  height: 45px;
  width: 45px;
  margin-left: 6px;
  margin-top: -7px;
}
.Navbar{
  float: left;
  width: 100%;
  background-color: #04092e;
  height: 60px;
  color:azure;
  margin-top: 5px;
}
.nav{
  position: relative;
  float: left;
  margin-left: 20px;
  font-size: 15px;
  width: 17%;
  height: 100px;
  }
.inputnav{
  margin-left: 13px;
  margin-right: -3px;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  text-decoration: none;
  color: rgb(147, 149, 198);
  height: 20px;
  width: 220px;
}

.inputbutton{
  position: relative;
  margin: auto;
  margin-top: 30px;
}
.buttonhome{
  cursor: pointer;
  background-color: rgb(33, 68, 182);
  height: 44px;
  margin-left: 5px;
  border-radius: 6px;
  color: wheat;
}
.navs{
  height: 100px;
  width: 100%;
  
}
.navnumber{
  margin-top: 15px;
  color: rgb(192, 255, 255);
}
.navtext{
  font-size: 20px;
  color: rgb(1, 183, 183);
  margin-top: 15px;
}
.btn-primary{
  font-size: 20px;
  position: absolute;
  right: 0;
  margin-right: 6%;
  margin-top: 4px;
}
.tabs{
  float: right;
  margin-right: 10%;
}
.tab{
  padding: 5px;
  border: none;
  background-color: rgb(24, 93, 145);
  border-radius: 4px;
  margin-left: 5px;
  color: white;
  cursor: pointer;
}
.bigtitle{
  float: left;
  font-size: 20px;
  margin: 15px;

}
.blockexplorer{
  z-index: -1;
  font-size: 20px;
  color: white;
  position: relative;
  margin: auto;
  padding-top: 120px;
}
.prevnext{
  float: right;
}







.bodyhdx,.bodyhdx1{
  display: block;
  float: left;
  width: 100%;
}
.bodyhdx1{
  margin-left: 8px;
}
.bodyshdx{
  display: none;
  float: left;
  height: 1500px;
  width: 100%;
}
.bodyghdx{
  display: none;
  float: left;
  height: 1500px;
  width: 100%;
}
.body0{
  float: left;
  height: 40px;
  background-color: rgb(15, 15, 45);
  width: 100%;
}
body{
  background-color: rgb(15, 15, 45);
}
.Txhash,.Txhashhome{
  float: left;
  width: 250px;
}
.Txhashhome{
  width: 200px;
}
.line{
  width: 100%;
  float: left;
  height: 22px;
  background-color: rgb(15, 15, 45);
  color: rgba(255, 255, 255, 0.832);
}
.linehome,.linehome1,.linehometx{
  width: 100%;
  float: left;
  height: 35px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.832);
}
.linehome1{
  height: 48px;
}
.line1,.line1home{
  float: left;
  height: 28px;
  background-color: rgb(15, 15, 45);
  border-bottom: 2px solid white;
  margin-bottom: 5px;
  color: rgb(237, 159, 159);
  width: 100%;
  margin-bottom: 5px;
}
.line1home{
  background-color: transparent;
  margin-top: 25px;
  margin-left: 5px;
  width: 95%;
  margin-bottom: 20px;
}
.address,.addresshome,.addresshome1, .amount,.amount1home,.order,.orderhome,.addressa{
  float: left;
  width: 200px;

}
.DateTime,.DateTimehome,.DateTime2{
  float: left;
  width: 120px;
}
.DateTimehome{
  width: 100px;
}
.DateTime2{
  width: 15%;
}
.order,.orderhome{
  width: 30px;
}
.address{
  width: 200px;
  margin-left: 10px;
}
.addressa{
  width: 400px;
}
.addresshome,.addresshome1{
  width: 350px
}
.addresshome1{
  width: 200px;
  margin-top: 5px;
}
.amount{
  float: left;
  text-align: right;
  width: 12%;
  margin-right: 0px;
}
.amount1,.amount1home{
  float: left;
  text-align: right;
  width: 150px;
  margin-right: 10px;
  margin-left: 35px;
}
.amount1home{
  float: right;
    margin-right: 50px;
}
.amount1home1{
  float: left;
  width: 200px;
  margin-top: 5px;
}
.amount1t{
  float: left;
  text-align: right;
  width: 180px;
  margin-right: 10px;
}
.BlockNohome{
  float: left;
}
.BlockNohome{
  width:180px;
}
.sort{
  cursor: pointer;
  float: left;
  color: white;
  border: none;
  background-color: rgb(38, 44, 130);
  border-radius: 5px;
  padding: 5px;
}
.sort1{
  float: left;
  color: white;
  padding: 3px;
  font-size: 18px;
}
.inputhome{
  width: 500px;
  height: 35px;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.734);
  border: 1px solid rgb(255, 255, 255);
  text-decoration: none;
  color: rgb(6, 0, 0);

}
.inputbutton{
  position: relative;
  margin: auto;
  margin-top: 30px;
}
.buttonhome{
  cursor: pointer;
  background-color: rgb(33, 68, 182);
  height: 44px;
  margin-left: 5px;
  border-radius: 6px;
  color: wheat;
}
.buttonnav{
  cursor: pointer;
  background-color: rgb(33, 68, 182);
  height: 32px;
  margin-left: 5px;
  border-radius: 6px;
  color: wheat;
}
.buttonnav:hover {background-color: #124de1}


.tab:hover {background-color: #124de1}
.sort:hover {background-color: #124de1}


.latesttx{
  float: left;
  width: 40%;
  height: 550px;
  background-color: rgb(9, 4, 36);
  margin-left: 10%;
  border-radius: 13px;
  margin-top: 30px;
}
.homeaddreses{
  float: left;
  width: 40%;
  height: 550px;
  background-color: rgb(9, 4, 36);
  margin-left: 30px;
  border-radius: 13px;
  margin-top: 30px;
}
.infos{
  width: 82%;
  border-radius: 13px;
  margin-left: 10%;
  margin-top: 50px;
  height: 100px;
  background-color: rgb(9, 4, 36);
}

.linehometx{

}

/* @media screen and (max-width: 900px){
  .App {
    font-size: 6px;
  }
  body{
    background-color: rgb(255, 255, 255);
  }
  .header{
    font-size: 15px;
    text-align: center;
    color:rgb(43, 225, 238);
    height: 30px;
    padding: 3px;
    background-color: rgb(6, 16, 54);
  }

  .hydranet{
    font-size:15px;
    margin-left: 0%;
    position: relative;
    float: left;
  }
  .hdxlogo{
    position: relative;
    float: left;
    height: 20px;
    width: 20px;
    margin-top: 2px;
    margin-left: 6px;
  }
  .Navbar{
    background-color: #020730;
    height: 20px;
    color:azure;
    padding: 1px;
    margin-top: 5px;
  }
  .nav{
    position: relative;
    float: left;
    margin-left: 20px;
    font-size: 15px;
    }
  .navs{
    height: 300px;
    width: 100%;
  }
  .navnumber{
    position: absolute;
    float: bottom;
    margin-top: 30px;
    margin-left: 20px;
    color: rgb(192, 255, 255);
  }
  .navtext{
    position: relative;
    float: top;
    font-size:8px;
    color: rgb(1, 183, 183);
  }
  .btn-primary{
    font-size: 8px;
    position: absolute;
    right: 0;
    margin-right: 6%;
    margin-top: 4px;
  }
  .bodyhdx{
    display: block;
    float: left;
    height: 1500px;
    width: 99%;
    margin-left: 0%;
    margin-top: 20px;
  }
  .bodyshdx{
    display: none;
    float: left;
    height: 1500px;
    width: 100%;
  }
  .bodyghdx{
    display: none;
    float: left;
    height: 1500px;
    width: 100%;
  }
  .body0{
    float: left;
    height: 18px;
    background-color: rgb(15, 15, 45);
    width: 99%;
    margin-left: 0%;
  }
  body{
    background-color: rgb(15, 15, 45);
  }
  .line{
    float: left;
    height: 12px;
    width: 99%;
    background-color: rgb(15, 15, 45);
    font-size:6px;
    color: rgba(255, 255, 255, 0.832);
  }
  .line1{
    float: left;
    height: 11px;
    background-color: rgb(15, 15, 45);
    font-size:5px;
    width: 99%;
    margin-left: 0%;
    border-bottom: 1px solid white;
    margin-bottom: 5px;
    color: rgb(237, 159, 159);
  }
  .address, .amount,.order{
    float: left;
    width: 50px;
  
  }
  .order{
    width: 17px;
  }
  .address{
    width: 140px;
    margin-right: 6px;
  }
  .amount{
    float: left;
    text-align: left;
    width: 40px;
  }
  .amount1{
    float: left;
    text-align: left;
    width: 51px;
    margin-right: 2px;
    margin-left: 14px;
  }
  .amount1t{
    float: left;
    text-align: left;
    width: 65px;
    margin-right: 2px;
  }
  .sort{
    float: left;
    color: white;
    border: none;

    font-size: 6px;
    border-radius: 3px;
    
    padding: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
  }
  .sort1{
    float: left;
    color: white;
    font-size:7px;
    padding: 2px;
  }
} */